<% if cookies[:cart].present? && !eval(cookies[:cart]).length.zero? %>
    <div class="table-orders col-md-9 ">
      <div class="table-orders col-md-12 ">
      <div class="order-div photo">Photo</div>
      <div class="order-div title"> Title</div>
      <div class="order-div price">Price</div>
      <div class="order-div quantity">Quantity</div>
      </div>
      <hr>
    <%= form_for :quantity , url: {action: "put_quantity"} do |f| %>
        <% eval(cookies[:cart]).each do |obj| %>
            <div class="table-order col-md-12">
            <% @product = Product.find(obj[:product_id]) %>
            <div class="order-div">
              <div><%= image_tag @product.photo_url(:thumb) %></div>
            </div>
            <div class="order-div title">
              <p><%= @product.title %></p>
            </div>
            <div class="order-div price" data-value="<%= @product.price %>">
              <p><%= number_to_currency(@product.price) %></p>
            </div>
            <div class="order-div quantity">
              <%= f.fields_for "quantitys_#{obj[:product_id]}" do |p| %>
                <div><%= p.number_field :qty, value: 1 , min: 1 %></div>
              <% end %>
            </div>
            <div class="order-div delete">
              <%= link_to 'Delete product', delete_cart_product_order_path(@product), class: 'button' %>
            </div>
            </div>
        <% end %>
        <%= f.submit 'Create Order', class:'submit-products' %>
    <% end %>
    </div>
    <div><h4>Total price : $<span id="totalprice"></span></h4></div>
<% else %>
    <h2>No products in the cart</h2>
<% end %>
