<h1>Confirmation order <%= @order.id %> </h1>
<ul>
  <li>Customer name: <%= @order.name %></li>
  <li>Phone: <%= @order.phone %></li>
  <li>Email: <%= @order.email %></li>
</ul>
<table>
  <tr>
    <td>Title</td>
    <td>Price</td>
    <td>Quantity</td>
  </tr>
  <% OrderProduct.where(order_id: @order.id).each do |ord| %>
      <% product = Product.find(ord.product_id) %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %> </td>
        <td><%= ord.quantity %></td>
      </tr>
  <% end %>
</table>
<p>Total price <%= number_to_currency(@order.total_price(@order).to_i) %></p>

