<div class="col-md-9">
  <%= form_for(@category)  do|f| %>
      <% if @category.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% @category.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field form-group">
        <%= f.label :parent_id, "Parent" %>
        <%= f.text_field :parent_id, class: "form-control form-width" %>
      </div>
      <div class="field form-group">
        <%= f.label :title, "Name:" %>
        <%= f.text_field :title, class: "form-control form-width" %>
      </div>

      <div class="actions button-margin">
        <%= f.submit "post" , class: "btn btn-success" %>
      </div>
  <% end %>
</div>