<div class="col-md-9">
  <div class="col-md-9">
    <% @category.ancestors.each do |ancestor| %>
        <%= link_to ancestor.title, category_path(ancestor) %>/
    <% end %>
    <%= @category.title %>
 <br>
      <% @category.children.each do |category| %>
          <%= link_to category.title, category_path(category) %>
      <% end %>
  </div><br>
  <hr>
    <%= render @products %>
    <% @category.children.each do |category| %>
        <% category.products.each do |product| %>
          <%= render product %>
        <% end %>
    <% end %>

</div>
