<%= @category.title %><br>
<%= link_to 'new category', new_category_path(parent_id: @category) %>
<ul>
  <% @category.children.each do |category| %>
      <li><%= link_to category.title, category_path(category) %></li>
  <% end %>
</ul>
<table>
  <%= render @products %>
  <% @category.children.each do |category| %>
      <% category.products.each do |product| %>
        <%= render product %>
      <% end %>
  <% end %>
</table>